*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 250px;
}

.toggle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(253,29,29,1);
    padding: 5px 20px;
}

.toggle::before{
    content: 'Menu';
    margin-right: 10px;

}

.toggle.active::before{
    content: 'Fechar';
}

.toggle span{
    position: relative;
    width: 20px;
    height: 50px;
}

.toggle span::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(253,29,29,1);
    transition: 0.5s;
}

.toggle span::after{
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(253,29,29,1);
    transition: 0.5s;
}

.toggle.active span::before{
    transition: rotate(225deg);
    top: 24px;
}

.toggle.active span::after{
    transition: rotate(135deg);
    bottom: 24px;
}

ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul li{
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-250px);
    transition-delay: calc(0.1s * var(--i));
}

.navigation.active ul li{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

ul li a{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background: #fff;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

ul li a:hover{
    background: #f6f6f6f6;
    color:rgba(252,176,69,1);
    transition: 0

}
  